<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voter Management System</title>
</head>
<body>
    <form action="/polls/voterinfo/", method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="voter_number">Enter voter number: </label>
            <input type="text" class="form-control" id="voter_number" name="voter_number">
        </div>
        <input type="submit" value="details" class="btn btn-primary"/>
    </form>
</body>
</html>
