<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voter Management System</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Electronic Voting Machine</h1>
    <h4>"Each vote makes a difference"</h4>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-3">
            <!-- Advertisement Section -->
        </div>
        <div class="col-6">
            <form action="/polls/vote/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="party">Party: </label>
                    <input type="checkbox" class="form-control" id="party" name="party" value="AAP"> AAP
			        <input type="checkbox" class="form-control" id="party" name="party" value="BJP"/> BJP
                    <input type="checkbox" class="form-control" id="party" name="party" value="CONGRESS"/> CONGRESS
                </div>
                <input type="submit" value="Vote" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>